<header class="main-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<object type="image/svg+xml" data="{{asset "images/header-background-v3.svg"}}" class="header-background">
  		Kiwi Logo <!-- fallback image in CSS -->
	</object>
    
	{{> subheader}}
	
    <div class="blog-title">{{@blog.title}}</div>
    <!--<h2 class="blog-description">{{@blog.description}}</h2>-->
    <!-- for special purpose I've omited the default blog desc -->
    <div class="blog-description">  {{@blog.description}}  </div>
</header>
