{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
        	<!-- start of Subheader -->
            <div class="Subheader box-resize">
				<div class="MainMenu">
					<a href="{{@blog.url}}/About" class="MenuLink box-resize">About</a>
					<a href="{{@blog.url}}/" class="MenuLink box-resize">Blog </a>
					<a href="{{@blog.url}}/Portfolio" class="MenuLink box-resize">Portfolio</a>
					<div class="MenuSandwich"></div>
				</div>

				<div class="SocialIcons">
					<div class="IconWrapper">

						<a href="#" class="SocialLink icon-facebook-circled"></a>
						<a href="#" class="SocialLink icon-github-circled-2"></a>
						<a href="#" class="SocialLink icon-linkedin-circled"></a>
						<a href="#" class="SocialLink icon-twitter-circled"></a>

						<div class="Hover">
							<a href="#">
							</a>
						</div>
					</div>
				</div>
			</div> <!-- end of Subheader -->

            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <!--<h2 class="blog-description">{{@blog.description}}</h2>-->
            <!-- for special purpose I've omited the default blog desc -->
            <h2 class="blog-description">  I'll think of a deep description later.  </h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip; <a class="read-more" href="{{url}}">&raquo;</a></p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>